<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="description" content="">
        <title>VUE JS UCH</title>
        <link rel="stylesheet" href="css/css.css">        
    </head>
    <body>
        <div id="app">
            <h1>{{ titulo }}</h1>
            <div v-for="entrenador in entrenadores" :key="entrenador.nombre" class="card">
                <h2 class="nombre">{{ entrenador.nombre }}</h2>
                <div class="info" v-if="entrenador.mostrarPokemones">
                    <ul>
                        <li v-for="pokemon in entrenador.pokemones.slice(0, 5)" :key="pokemon.nombre">
                            {{ pokemon.nombre }}
                        </li>
                    </ul>
                </div>
                <button @click="verPokemon(entrenador)">Ver Pokémon</button>
                <button @click="seleccionarEntrenador(entrenador)">Seleccionar para combate</button>
                <img :src="entrenador.imagen" alt="Imagen de {{ entrenador.nombre }}">
            </div>
            <button class="nuevo-combate" @click="nuevoCombate" :disabled="entrenadoresSeleccionados.length !== 2">Nuevo combate</button>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app/app.js"></script>
</html>